# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
!src/exercises/11-declaraciones-de-tipado/node_modules
!src/exercises/12-declaraciones-de-tipados-genericos/node_modules
!src/exercises/13-aumentacion-de-modulos/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
